<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tripclient" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tripsclient</name>
    <description>
        App per trasmettere dati di viaggio a server Websocket
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-geolocation" version="1.0.1" />
    <plugin name="cordova-plugin-device" version="1.0.1" />
    <plugin name="cordova-plugin-sim" version="1.0.2" />
    <plugin name="cordova-plugin-websocket" version="0.10.0" />
    <plugin name="org.apache.cordova.dialogs" version="0.3.0" />
    <plugin name="io.litehelpers.cordova.sqlite" version="0.7.10" />
    <plugin name="nl.x-services.plugins.insomnia" version="4.0.1" />
    <allow-navigation href="http://*/*" />
    <preference name="loadUrlTimeoutValue" value="30000"/>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
